---
layout: archive
title: "Projects"
title_en: "Projects"
title_es: "Proyectos"
permalink: /portfolio/
author_profile: true
---

{% include base_path %}

<p>{% include t.html page="portfolio" key="intro" %}</p>

<hr>

<h2>{% include t.html page="portfolio" key="github_title" %}</h2>

<div class="github-note">
  <i class="fas fa-info-circle"></i>
  {% include t.html page="portfolio" key="github_note" %}
</div>

<div class="github-stats">
  <a href="https://github.com/EfrenPy" target="_blank" rel="noopener">
    <img class="theme-img" src="{{ site.baseurl }}/images/github-stats-light.svg" data-light="{{ site.baseurl }}/images/github-stats-light.svg" data-dark="{{ site.baseurl }}/images/github-stats-dark.svg" alt="GitHub Stats">
  </a>
  <a href="https://github.com/EfrenPy" target="_blank" rel="noopener">
    <img class="theme-img" src="{{ site.baseurl }}/images/github-langs-light.svg" data-light="{{ site.baseurl }}/images/github-langs-light.svg" data-dark="{{ site.baseurl }}/images/github-langs-dark.svg" alt="Top Languages">
  </a>
</div>

<hr>

<h2>{% include t.html page="portfolio" key="projects_title" %}</h2>

{% for post in site.portfolio %}
  {% unless post.category == "personal" %}
    {% include archive-single.html %}
  {% endunless %}
{% endfor %}

<hr>

<h2>{% include t.html page="portfolio" key="personal_title" %}</h2>

{% for post in site.portfolio %}
  {% if post.category == "personal" %}
    {% include archive-single.html %}
  {% endif %}
{% endfor %}
