{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.title_en %}
  {% assign title_en = post.title_en | markdownify | remove: "<p>" | remove: "</p>" %}
  {% assign title_es = post.title_es | markdownify | remove: "<p>" | remove: "</p>" %}
  {% capture title %}<span class="lang-en" lang="en">{{ title_en }}</span><span class="lang-es" lang="es">{{ title_es }}</span>{% endcapture %}
{% elsif post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="https://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="{{ title | strip_html | strip_newlines | default: 'Publication thumbnail' }}">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
    </h2>
    

     {% if post.collection == 'publications' %}
      <p style="color:gray;font-size:80%"> 
         {% if post.smallinfo %}
           {{ post.smallinfo }}
         {% endif %}
      </p>
     {% endif %}

              <!-- description readme and  icon code -->
    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    <div class="publication-links">
      {% if post.link %}
        <a href="{{ post.link }}" class="publication-link"><i class="fas fa-fw fa-link" aria-hidden="true"></i> Link</a>
      {% endif %}
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}" class="publication-link"><i class="fas fa-fw fa-file-pdf" aria-hidden="true"></i> PDF</a>
      {% endif %}
      {% if post.code %}
        <a href="{{ post.code }}" class="publication-link"><i class="fas fa-fw fa-code" aria-hidden="true"></i> Code</a>
      {% endif %}
      {% if post.github %}
        <a href="{{ post.github }}" class="publication-link"><i class="fab fa-fw fa-github" aria-hidden="true"></i> Code</a>
      {% endif %}
    </div>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }} <a href="{{ base_path }}{{ post.url }}" rel="permalink"><span class="lang-en" lang="en">Read more</span><span class="lang-es" lang="es">Leer más</span></a></p>
    <div class="publication-links">
      {% if post.link %}
        <a href="{{ post.link }}" class="publication-link"><i class="fas fa-fw fa-link" aria-hidden="true"></i> Link</a>
      {% endif %}
      {% if post.paperurl %}
        <a href="{{ post.paperurl }}" class="publication-link"><i class="fas fa-fw fa-file-pdf" aria-hidden="true"></i> PDF</a>
      {% endif %}
      {% if post.code %}
        <a href="{{ post.code }}" class="publication-link"><i class="fas fa-fw fa-code" aria-hidden="true"></i> Code</a>
      {% endif %}
      {% if post.github %}
        <a href="{{ post.github }}" class="publication-link"><i class="fab fa-fw fa-github" aria-hidden="true"></i> Code</a>
      {% endif %}
    </div>
    {% endif %}
    
  </article>
</div>
