<!--[if lt IE 9]>
<div class="notice--danger align-center" style="margin: 0;"><span class="lang-en" lang="en">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/" rel="noopener">upgrade your browser</a> to improve your experience.</span><span class="lang-es" lang="es">Estás usando un navegador <strong>desactualizado</strong>. Por favor, <a href="https://browsehappy.com/" rel="noopener">actualiza tu navegador</a> para mejorar tu experiencia.</span></div>
<![endif]-->
