{% if page.collection == "portfolio" %}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "{{ page.schema_type | default: 'SoftwareSourceCode' }}",
  "name": {{ page.title | strip_html | jsonify }},
  "description": {{ page.excerpt | strip_html | strip_newlines | truncate: 200 | jsonify }},
  "author": {
    "@type": "Person",
    "name": "{{ site.author.name }}"
  },
  {% if page.link %}"codeRepository": "{{ page.link }}",{% endif %}
  {% if page.tags %}
  "programmingLanguage": [
    {% for tag in page.tags %}{{ tag | jsonify }}{% unless forloop.last %}, {% endunless %}{% endfor %}
  ],
  {% endif %}
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ page.url | prepend: site.url }}"
  }
}
</script>
{% endif %}
