{% include base_path %}

<section class="page__share">
  <h4 class="page__share-title"><span class="lang-en" lang="en">Share on</span><span class="lang-es" lang="es">Compartir en</span></h4>

  <a href="https://twitter.com/intent/tweet?text={{ base_path }}{{ page.url }}" class="btn btn--twitter" title="Twitter" rel="noopener"><i class="fab fa-twitter" aria-hidden="true"></i><span> Twitter</span></a>

  <a href="https://www.facebook.com/sharer/sharer.php?u={{ base_path }}{{ page.url }}" class="btn btn--facebook" title="Facebook" rel="noopener"><i class="fab fa-facebook" aria-hidden="true"></i><span> Facebook</span></a>

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ base_path }}{{ page.url }}" class="btn btn--linkedin" title="LinkedIn" rel="noopener"><i class="fab fa-linkedin" aria-hidden="true"></i><span> LinkedIn</span></a>
</section>
