/* ==========================================================================
   SINGLE PAGE/POST
   ========================================================================== */

#main {
  @include container;
  @include clearfix;
  margin-top: 0;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  animation: intro 0.15s both;
  animation-delay: 0s;
  background: #ffffff;
  min-height: 70vh;
  max-width: 1400px;

  @include breakpoint($medium) {
    padding-left: 3em;
    padding-right: 3em;
  }

  @include breakpoint($large) {
    padding-top: 3em;
    display: flex;
    gap: 3em;
    align-items: flex-start;
  }

  @include breakpoint($x-large) {
    max-width: 1400px;
    padding-left: 4em;
    padding-right: 4em;
    gap: 4em;
  }
}

.page {
  background: white;
  border-radius: 0;
  padding: 2em 0;
  margin-top: 2em;
  margin-bottom: 4em;
  box-shadow: none;
  border: none;

  @include breakpoint($large) {
    @include span(9 of 12 last);
    @include prefix(0 of 12);
    @include suffix(0 of 12);
    padding: 0;
    margin-top: 0;
    margin-bottom: 4em;
  }

  @include breakpoint($x-large) {
    @include span(8.75 of 12 last);
    max-width: 900px;
  }

  .page__inner-wrap {
    @include full();

    .page__content,
    .page__meta,
    .page__share {
      @include full();
    }
  }
}

.page__title {
  margin-top: 0;
  line-height: 1.2;
  font-size: $type-size-1;
  font-weight: 600;
  color: $darker-gray;
  letter-spacing: -0.025em;

  & + .page__meta {
    margin-top: -0.5em;
  }
}

.page__lead {
  font-family: $global-font-family;
  font-size: $type-size-4;
  color: #718096;
}

.page__content {

  h2 {
    padding-bottom: 0;
    margin-top: 3em;
    margin-bottom: 1em;
    border-bottom: none;
    color: $darker-gray;
    font-weight: 600;
    font-size: $type-size-2;
    letter-spacing: -0.02em;
  }

  h3 {
    color: $darker-gray;
    font-weight: 600;
    margin-top: 2.5em;
    margin-bottom: 0.75em;
    font-size: $type-size-3;
  }

  p, li, dl {
    font-size: 1em;
  }

  /* paragraph indents */
  p {
    margin: 0 0 $indent-var;

    /* sibling indentation*/
    @if $paragraph-indent == true {
      & + p {
        text-indent: $indent-var;
        margin-top: -($indent-var);
      }
    }
  }

  a {
    color: $link-color;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    transition: $global-transition;

    &:hover {
      color: $link-color-hover;
      border-bottom-color: $link-color-hover;

      img {
        box-shadow: $box-shadow-lg;
      }
    }
  }

  dt {
    margin-top: 1em;
    font-family: $sans-serif;
    font-weight: bold;
  }

  dd {
    margin-left: 1em;
    font-family: $sans-serif;
    font-size: $type-size-6;
  }

  .small {
    font-size: $type-size-6;
  }

  /* blockquote citations */
  blockquote + .small {
    margin-top: -1.5em;
    padding-left: 1.25rem;
  }
}

.page__hero {
  position: relative;
  margin-bottom: 2em;
  @include clearfix;
  animation: intro 0.3s both;
  animation-delay: 0.25s;

  &--overlay {
    position: relative;
    margin-bottom: 2em;
    padding: 3em 0;
    @include clearfix;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    animation: intro 0.3s both;
    animation-delay: 0.25s;

    a {
      color: #fff;
    }

    .wrapper {
      padding-left: 1em;
      padding-right: 1em;

      @include breakpoint($x-large) {
        max-width: $x-large;
      }
    }

    .page__title,
    .page__meta,
    .page__lead,
    .btn {
      color: #fff;
      text-shadow: 1px 1px 4px rgba(#000, 0.5);
    }

    .page__lead {
      max-width: $medium;
    }

    .page__title {
      font-size: $type-size-2;

      @include breakpoint($small) {
        font-size: $type-size-1;
      }
    }
  }
}

.page__hero-image {
  width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

.page__hero-caption {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
  padding: 2px 5px;
  color: #fff;
  font-family: $caption-font-family;
  font-size: $type-size-7;
  background: #000;
  text-align: right;
  z-index: 5;
  opacity: 0.5;
  border-radius: $border-radius 0 $border-radius 0;

  @include breakpoint($large) {
    padding: 5px 10px;
  }

  a {
    color: #fff;
    text-decoration: none;
  }
}

/*
   Social sharing
   ========================================================================== */

.page__share {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid $border-color;

  @include breakpoint(max-width $small) {
    .btn span {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
    }
  }
}

.page__share-title {
  margin-bottom: 10px;
  font-size: $type-size-6;
  text-transform: uppercase;
}


/*
   Page meta
   ========================================================================== */

.page__meta {
  margin-top: 2em;
  padding: 0.75em 1em;
  color: $gray;
  font-family: $sans-serif;
  font-size: $type-size-7;
  background-color: $lighter-gray;
  border-radius: $border-radius;

  p {
    margin: 0;
  }

  a {
    color: $link-color;
    font-weight: 600;

    &:hover {
      color: $link-color-hover;
    }
  }
}

.page__meta-title {
  margin-bottom: 10px;
  font-size: $type-size-6;
  text-transform: uppercase;
}


/*
   Page taxonomy
   ========================================================================== */

.page__taxonomy {
  .sep {
    display: none;
  }

  strong {
    margin-right: 10px;
  }
}

.page__taxonomy-item {
  display: inline-block;
  margin-right: 8px;
  margin-bottom: 10px;
  padding: 8px 16px;
  text-decoration: none;
  font-size: $type-size-7;
  font-weight: 600;
  background-color: $lighter-gray;
  color: $dark-gray;
  border-radius: 20px;
  transition: $global-transition;

  &:hover {
    text-decoration: none;
    background-color: $link-color;
    color: #fff;
    transform: translateY(-2px);
    box-shadow: $box-shadow;
  }
}


/*
   Comments
   ========================================================================== */

.page__comments {
  @include full();
}

.page__comments-title {
  margin-top: 2rem;
  margin-bottom: 10px;
  padding-top: 2rem;
  font-size: $type-size-6;
  border-top: 1px solid $border-color;
  text-transform: uppercase;
}

.page__comments-form {
  padding: 1em;
  background: $lighter-gray;
  transition: $global-transition;

  &.disabled {
    input,
    button,
    textarea,
    label {
      pointer-events: none;
      cursor: not-allowed;
      filter: alpha(opacity=65);
      box-shadow: none;
      opacity: 0.65;
    }
  }
}

.comment {
  @include clearfix();
  margin: 1em 0;

  &:not(:last-child) {
    border-bottom: 1px solid $border-color;
  }
}

.comment__avatar-wrapper {
  float: left;
  width: 60px;
  height: 60px;

  @include breakpoint($large) {
    width: 100px;
    height: 100px;
  }
}

.comment__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  @include breakpoint($large) {
    width: 80px;
    height: 80px;
    padding: 5px;
    border: 1px solid $border-color;
  }
}

.comment__content-wrapper {
  float: right;
  width: calc(100% - 60px);

  @include breakpoint($large) {
    width: calc(100% - 100px);
  }
}

.comment__author {
  margin: 0;

  a {
    text-decoration: none;
  }
}

.comment__date {
  @extend .page__meta;
  margin: 0;

  a {
    text-decoration: none;
  }
}


/*
   Related
   ========================================================================== */

.page__related {
  margin-top: 2em;
  padding-top: 1em;
  border-top: 1px solid $border-color;
  @include clearfix();
  float: left;

  @include breakpoint($large) {
    @include pre(2.5 of 12);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.page__related-title {
  margin-bottom: 10px;
  font-size: $type-size-6;
  text-transform: uppercase;
}

/* ==========================================================================
   FLEXBOX LAYOUT FIX
   ========================================================================== */

@include breakpoint($large) {
  #main {
    > .sidebar {
      flex-shrink: 0;
      float: none;
      width: calc((2.5 / 12) * 100%);
    }

    > .page {
      flex: 1;
      float: none;
      width: auto;
      max-width: 900px;
    }
  }
}

@include breakpoint($x-large) {
  #main {
    > .sidebar {
      width: calc((2.75 / 12) * 100%);
      max-width: 300px;
    }

    > .page {
      max-width: 900px;
    }
  }
}

/* Archive pages without sidebar */
.archive #main,
.wide #main {
  @include breakpoint($large) {
    display: block;
  }

  .page {
    @include breakpoint($large) {
      float: none;
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
    }
  }
}
