/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size              : 16;

/* paragraph indention */
$paragraph-indent           : false; // true, false (default)
$indent-var                 : 1.3em;

/* system typefaces */
$serif                      : Georgia, Times, serif;
$sans-serif                 : -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
$monospace                  : Monaco, Consolas, "Lucida Console", monospace;

/* sans serif typefaces */
$sans-serif-narrow          : $sans-serif;
$helvetica                  : Helvetica, "Helvetica Neue", Arial, sans-serif;

/* serif typefaces */
$georgia                    : Georgia, serif;
$times                      : Times, serif;
$bodoni                     : "Bodoni MT", serif;
$calisto                    : "Calisto MT", serif;
$garamond                   : Garamond, serif;

$global-font-family         : $sans-serif;
$header-font-family         : $sans-serif;
$caption-font-family        : $serif;

/* type scale */
$type-size-1                : 2.75em;   // ~44px - Larger, bolder headings
$type-size-2                : 2.25em;   // ~36px
$type-size-3                : 1.75em;   // ~28px
$type-size-4                : 1.375em;  // ~22px
$type-size-5                : 1.125em;  // ~18px - Slightly larger base
$type-size-6                : 0.875em;  // ~14px
$type-size-7                : 0.75em;   // ~12px
$type-size-8                : 0.625em;  // ~10px


/*
   Colors
   ========================================================================== */

$gray                       : #6c757d;
$dark-gray                  : #2d3748;
$darker-gray                : #1a202c;
$light-gray                 : #cbd5e0;
$lighter-gray               : #f7fafc;

$body-color                 : #fff;
$background-color           : #fff;
$code-background-color      : #f7fafc;
$code-background-color-dark : #e2e8f0;
$text-color                 : #2d3748;
$border-color               : #e2e8f0;

$primary-color              : #4a5568;
$success-color              : #48bb78;
$warning-color              : #ed8936;
$danger-color               : #f56565;
$info-color                 : #4299e1;

/* brands */
$behance-color              : #1769FF;
$dribbble-color             : #ea4c89;
$facebook-color             : #3b5998;
$flickr-color               : #ff0084;
$foursquare-color           : #0072b1;
$github-color               : #171516;
$google-plus-color          : #dd4b39;
$instagram-color            : #517fa4;
$lastfm-color               : #d51007;
$linkedin-color             : #007bb6;
$pinterest-color            : #cb2027;
$rss-color                  : #fa9b39;
$soundcloud-color           : #ff3300;
$stackoverflow-color        : #fe7a15;
$tumblr-color               : #32506d;
$twitter-color              : #55acee;
$vimeo-color                : #1ab7ea;
$vine-color                 : #00bf8f;
$youtube-color              : #bb0000;
$xing-color                 : #006567;


/* links */
$link-color                 : #3182ce;
$link-color-hover           : #2c5aa0;
$link-color-visited         : #5a67d8;
$masthead-link-color        : $primary-color;
$masthead-link-color-hover  : #2d3748;


/*
   Breakpoints
   ========================================================================== */

@include breakpoint-set("to ems", true);
/*
$small                      : 400px;
$medium                     : 500px;
$medium-wide                : 550px;
$large                      : 1200px;
$x-large                    : 1800px;
*/

$small                      : 600px !default;
$medium                     : 768px !default;
$medium-wide                : 900px !default;
$large                      : 925px !default;
$x-large                    : 1280px !default;

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow : 0px;
$right-sidebar-width        : 0px;
$right-sidebar-width-wide   : 0px;

$susy: (
  columns: 12,
  column-width: 120px,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: after,
  container: $large,
  global-box-sizing: border-box,
  // debug: (
  //   image: show,
  //   color: blue,
  //   output: overlay,
  //   toggle: top right,
  // ),
);


/*
   Other
   ========================================================================== */

$border-radius              : 8px;
$box-shadow                 : 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
$box-shadow-lg              : 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
$navicon-width              : 28px;
$navicon-height             : 4px;
$global-transition          : all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
