---
layout: default
---

{% if page.header.overlay_color or page.header.overlay_image or page.header.image %}
  {% include page__hero.html %}
{% endif %}

{% if page.url != "/" and site.breadcrumbs %}
  {% unless paginator %}
    {% include breadcrumbs.html %}
  {% endunless %}
{% endif %}

<div class="archive">
  {% unless page.header.overlay_color or page.header.overlay_image %}
    <div class="page__title-banner">
      <h1 class="page__title">{% if page.title_en %}<span class="lang-en" lang="en">{{ page.title_en }}</span><span class="lang-es" lang="es">{{ page.title_es }}</span>{% else %}{{ page.title }}{% endif %}</h1>
    </div>
  {% endunless %}
  {{ content }}
</div>
